<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form class="layui-form layuimini-form" lay-filter="froms">
    <input type="hidden" name="postUserId" value="">
    <div class="layui-form-item">
        <label class="layui-form-label required">标题</label>
        <div class="layui-input-block">
            <input type="text" name="postTitle" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名"
                   value="" class="layui-input">
            <tip>填写帖子标题</tip>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select id="blogTypeLarge" name="postClassifyId" lay-filter="aihao">
                <option value=""></option>
                <option value="0">写作</option>
                <option value="1">阅读</option>
                <option value="2">游戏</option>
                <option value="3">音乐</option>
                <option value="4">旅行</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-block" id="fieldslist">
            <input type="checkbox" name="like[write]" title="写作">
            <div class="layui-unselect layui-form-checkbox"><span>写作</span><i class="layui-icon layui-icon-ok"></i>
            </div>
            <input type="checkbox" name="like[read]" title="阅读">
            <div class="layui-unselect layui-form-checkbox"><span>阅读</span><i class="layui-icon layui-icon-ok"></i>
            </div>
            <input type="checkbox" name="like[daze]" title="发呆">
            <div class="layui-unselect layui-form-checkbox"><span>发呆</span><i class="layui-icon layui-icon-ok"></i>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
            <input type="checkbox" name="dd" title="写作">
            <input type="checkbox" name="liked" title="阅读">
            <input type="checkbox" name="like" title="发呆">
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">版权</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="postCopyright" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">内容</label>
        <div class="layui-input-block">
            <textarea name="postContent" id="ncontent" style="width:100%; height:200px; display:none "></textarea>
            <div  id="editor" style="margin: 50px 0 50px 0">
                <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" type="submit" lay-submit lay-filter="saveBtn">确认添加</button>
        </div>
    </div>
</form>
<script src="../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['form', 'layer', 'wangEditor', 'upload'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            upload = layui.upload,
            wangEditor = layui.wangEditor;
        //动态加载下拉列表并绑定数据
        $("#blogTypeLarge").html("");
        var html = "";
        $.ajax({
            url: '../../classify/getclassify',
            success: function (obj) {
                //console.log(obj);
                html += "<option value=''>------------请选择------------</option>"
                for (i = 0; i < obj.data.length; i++) {
                    html += ("<option value='" + obj.data[i].classifyId + "'>" + obj.data[i].classifyName + "</option>")
                }
                $("#blogTypeLarge").append(html);
                form.render('select');
            }
        });

        //动态加载复选框并绑定数据
        $("#fieldslist").html("");
        var html2 = "";
        //var s=$.('#fieldslist');
        $.ajax({
            type: "GET",
            url:'../../label/getlabel',
            success: function (obj) {//请求成功之后的操作
                console.log(obj)
                for (i = 0; i < obj.data.length; i++) {
                    html2 += ("<input  type=\"checkbox\" name=\"like\" value='"+obj.data[i].labelName+"' />"+obj.data[i].labelName+"</<input>")
                }
                /*$.each(obj.data, function(index,data,labelName) {
                    $("#fieldslist").append('<input type="checkbox" name="xxx" value="'+data.labelName+'" lay-skin="switch">');
                });*/
                $("#fieldslist").append(html2);
                form.render('select');
                //$("#fieldslist").append("<input type='checkbox' name='like[game]' title='游戏'>");

            },
        });

        //初始化编辑器
        var editor = new wangEditor('#editor');
        var $text1 = $('#ncontent')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor.customConfig.uploadImgServer = "../api/upload.json";
        editor.customConfig.uploadFileName = 'image';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxLength = 5;
        editor.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                console.log(result);
                if (result.code == 1) {
                    var url = result.data.url;
                    url.forEach(function (e) {
                        insertImg(e);
                    })
                } else {
                    layer.msg(result.msg);
                }
            }
        };
        editor.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        editor.create();
        // 初始化 textarea 的值
        $text1.val(editor.txt.html())


        form.on('checkbox(froms)', function (obj) {
            console.log(obj)
        });
        function f(n){
            var checkbox = $('layui-form-item input').eq(n).find('.layui-unselect layui-form-checkbox');
            if (checkbox.attr("a") == "off") {
                checkbox.children("div").css({
                    "display" : "block"
                });
                checkbox.attr("a","on");
            }else {
                checkbox.children("div").css({
                    "display" : "none"
                });
                checkbox.attr("a","off");
            }
        }
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field)
            //提交数据
            data.field.shstate = 1;
            //return false;
            $.ajax({
                url: '../../posts/add',
                data: data.field,
                type: 'post',
                success: function (code) {
                    if (code == '1') {
                        layer.msg("删除成功", {icon: 1});
                    } else {
                        layer.msg("删除失败", {icon: 5});
                    }
                }

            });
            //关闭窗口子窗口
            var iframeIndex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(iframeIndex);
            //刷新父级窗口
            window.parent.location.reload();
            return false;
        });

    });
</script>
</body>
</html>